/Adams-Coffee-Bar-POS (Presentation Resolution)/AdamsCoffeeBar-IntegratedPOS/bin
/Adams-Coffee-Bar-POS (Presentation Resolution)/AdamsCoffeeBar-IntegratedPOS/obj
/Adams-Coffee-Bar-POS (Recommended Resolution)/AdamsCoffeeBar-IntegratedPOS/bin
/Adams-Coffee-Bar-POS (Recommended Resolution)/AdamsCoffeeBar-IntegratedPOS/obj
