<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdamsCoffeeBar_IntegratedPOS.My.MySettings.group3ConnectionString"
            connectionString="Data Source=146.230.177.46\ist3;Initial Catalog=group3;Persist Security Info=True;User ID=group3;Password=m7g2k"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>